*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bt-color-pay: #3ec300;
$bt-color-exclude: #ff1d15;
$bt-color-system: #fffc31;
$table: #d6d6d6;

.nav-menu{
  display: flex;
}

.vehicles-parked{
  display: flex;
}

.button-delete{
  color: #fff;
  &:after{
    background-color: $bt-color-exclude;
  }
  &:before{
    background-color: darken($bt-color-exclude, 15%);
  }
  &:hover {
    color: #fff;
  }
}

.button-pay {
  color: #fff;
  &:after{
    background-color: $bt-color-pay;
  }
  &:before{
    background-color: darken($bt-color-pay, 15%);
  }
  &:hover {
    color: #fff;
  }
}

.button-system {
  &:after{
    background-color: $bt-color-system;
  }
  &:before{
    background-color: darken($bt-color-system, 15%);
  }
  &:hover {
    color: #000814;
  }
}

button{
  cursor: pointer;
  border: none;
  display: inline-block;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

a{
  text-decoration: none;
  color: #000814;
}

h2 {
  font-size: 2rem;
  color: $table;
}

table{
  width: 100%;
  table-layout: fixed;
}

.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid $table;
  background-color: #fdf8e1;
}

.vehicles-table{
  margin: 50px;
}

.fixo{
  height: 300px;
}

th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  color: $table;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 1rem;
  color: #000814;
  border-bottom: solid 1px $table;
  border-left: solid 1px $table;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  font-family: 'Roboto', sans-serif;
  background-color: #000814;
}
section{
  margin: 50px;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 2vh 5vw;
}
.grid-item {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

